.zoneMetrics {
  color: var(--color-text);
  .row {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1.5rem;
  }
  .powerLimits {
    width: 50%;
  }
  .stateOfCharge {
    padding-top: 3rem;
  }
  .phaseColumn {
    width: 29%;
  }
}
