@import 'media.css';

.zoneCard {
  margin-bottom: 1rem;
  background: var(--color-background);
  color: var(--color-text);
  .cardTitle {
    position: relative;
    .deviceToggle {
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      input {
        .on {
          background: #fff !important;
        }
      }
    }
  }
  .collapseWrapper {
    margin-top: -5rem;
  }

  .phaseData {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .zoneData {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    .limits {
      padding-top: 1rem;
      display: flex;
      .iconWrapper {
        padding-right: 2rem;
        .phaseBalanceWrapper {
          width: 40px;
          height: 40px;
        }
        .rowPowerIcon {
          color: var(--color-background);
          background-color: var(--color-primary);
        }
      }
      .row {
        position: relative;
        width: 100%;
        flex-grow: 1;
        height: 4.5rem;
        align-items: center;
        margin-bottom: 1rem;
        .rowSection {
          display: flex;
          flex-grow: 1;
          height: 3rem;
          > * {
            width: 33%;
            height: 5rem;
          }
        }
      }
    }
  }
  .rackCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .rackCardWrapper {
      margin-bottom: 1rem;
    }
  }
  .legends {
    display: flex;
  }
}

@media (--lg-screen) {
  .zoneCard {
    .phaseData {
      width: 50%;
    }
    .zoneData {
      .limits {
        .row {
          display: flex;
          .rowSection {
            width: 50%;
          }
        }
      }
    }
    .rackCards {
      .rackCardWrapper {
        width: 49%;
      }
    }
    .legends {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@media (--sm-screen) {
  .zoneCard {
    .phaseData {
      width: 100%;
    }
    .zoneData {
      .limits {
        .row {
          display: block;
          .rowSection {
            width: 80%;
          }
        }
      }
    }
    .rackCards {
      .rackCardWrapper {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    .legends {
      flex-direction: column;
      align-content: flex-start;
    }
  }
}
