@import "media.css";

.radioGroup {
  display: flex;
  justify-content: flex-start;
  legend {
    color: var(--color-text);
    padding-bottom: 1rem;
    padding-right: 0.5rem;
  }
  label {
    width: 70px;
  }
}

@media (--lg-screen) {
  .twoColumn {
    display: flex;
    justify-content: space-between;
    > .column {
      width: 78%;
    }
    > .columnSmall {
      width: 20%;
    }
  }
}
