.topologyDevice {
  display: inline-flex;
  align-content: center;
  align-self: center;
  .label {
    margin-left: 0.25rem;
    font-size: var(--font-size-xs);
    align-self: center;
  }
  .active { fill: var(--color-success); }
  .inactive { fill: var(--border-dark); }
  .off { fill: var(--color-error); }
  .ups { fill: var(--color-primary); }
  .unconfigured { fill: var(--color-warning); }
}
