.baseTargetStyle {
  height: 25rem;
  width: 20rem;
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  border-radius: 2px;
  .targetChild {
    list-style: none;
    .pduIcon {
      background-color: var(--color-error);
      border-radius: 50%;
    }
  }
}

.activeTarget {
  background-color: var(--color-success);
}

.canDropStyle {
  background-color: var(--color-accent);
}

.cannotDropStyle {
  background-color: var(--color-error);
}

.inactiveTarget {
  background-color: #222;
}
