.healthCheck {
  h1 { margin-left: 1rem; }
  h5 {
    margin-bottom: 1.5rem;
  }
  .section {
    margin: 3rem 0 1rem;
  }

  .setWidth {
    max-width: 40rem;
  }
  .pageSection {
    @extend .section;
    @extend .setWidth;
  }
  .groupSection {
    @extend .section;
    .groupsWrapper {
      width: 100%;
      display: flex;
      .group {
        width: 24%;
        padding: 0.75rem;
        margin: 0.75rem;
        border: 1px solid var(--border-dark);
        border-radius: 3px;
        li {
          list-style: none;
          color: var(--border-light);
        }
      }
    }
  }
}
