.targetBase {
  background-color: black;
  height: 20rem;
  width: 4.25rem;
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: normal;
  border-radius: 2px;
}

.activeTarget {
  background-color: var(--color-success);
}

.canDropStyle {
  background-color: var(--color-accent);
}

.cannotDropStyle {
  background-color: var(--color-error);
}

.dragDeviceStyle {
  background: rgba(255, 255, 255, 0);
  margin-bottom: 1.5rem;
  cursor: move;
  display: block;
  width: auto;
  overflow: hidden;
  border: 1px solid var(--border-dark);
  border-radius: 2px;
  li {
    list-style: none;
  }
}

.rackDroppedDevice {
  display: block;
  padding: 0.5rem 0 2rem 0.25rem;
  text-align: left;
  border: 1px solid var(--border-light);
  border-radius: 3rem;
  background: #9e9e9e;
  color: #fff;
  width: 2rem;
  margin: 3rem auto 0;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  -ms-text-orientation: upright;
  text-orientation: upright;
  .pduIcon {
    background-color: var(--color-error);
    border-radius: 50%;
  }
}
