<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VPS ICE Console</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-signin-client_id" content="497973724443-idclha4sntrqlrakspspl9mp94c6cec8.apps.googleusercontent.com">
    <script src="/config/<%= htmlWebpackPlugin.options.configFilename %>" async defer></script>
    <% if (htmlWebpackPlugin.options.isProd) { %><link rel="stylesheet" href="/ice.css" /><% } %>
    <style>@font-face {font-family: 'Material Icons';font-style: normal;font-weight: 400; src: local('Material Icons'), local('MaterialIcons-Regular'), url(/data/fonts/materialDesignIcons.woff2) format('woff2');} .material-icons {font-family: 'Material Icons';font-weight: normal;font-style: normal;font-size: 24px;line-height: 1;letter-spacing: normal;text-transform: none;display: inline-block; white-space: nowrap;word-wrap: normal;direction: ltr;-webkit-font-feature-settings: 'liga';-webkit-font-smoothing: antialiased;}</style>
    <style>@font-face {font-family: 'Roboto';font-style: normal;font-weight: 300;src: local('Roboto Light'), local('Roboto-Light'), url(/data/fonts/Roboto-Light.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}</style>
    <style>@font-face {font-family: 'Roboto';font-style: normal;font-weight: 400;src: local('Roboto'), local('Roboto-Regular'), url(/data/fonts/Roboto-Regular.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}</style>
    <style>@font-face {font-family: 'Roboto';font-style: normal;font-weight: 500;src: local('Roboto Medium'), local('Roboto-Medium'), url(/data/fonts/Roboto-Medium.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}</style>
    <style>@font-face {font-family: 'Roboto';font-style: normal;font-weight: 700;src: local('Roboto Bold'), local('Roboto-Bold'), url(/data/fonts/Roboto-Bold.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}</style>
    <script src="/<%= htmlWebpackPlugin.files.js %>"></script>
  </head>
  <body>
    <div id="app" />
  </body>
</html>
