.dragWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h5 { margin: 1rem; }
}

.rackCenter {
  width: 120px;
  height: 20rem;
  background-color: var(--color-black);
  margin-right: 0.5rem;
  border-radius: 2px;
}

.targetsWrapper {
  width: 49%;
  .targets {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    [data-react-toolbox="chip"] {
      svg {
        background: var(--color-error);
        -webkit-transition: background 300ms;
        transition: background 300ms;
        &:hover {
          background: var(--color-orange);
        }
      }
    }
  }
}

.sources {
  width: 49%;
}

.sectionHead {
  margin: 1rem 0 5rem 1rem;
}

.targetChild {
  display: block;
  background-color: transparent;
}

.devicesContent {
  height: 400px;
  overflow-y: scroll;
  padding-right: 2rem;
}

.devicesWrapper {
  overflow: hidden;
  width: 70%;
  border: 1px solid magenta;
  h5,
  .devicesContent {
    padding-left: 1.5rem;
    .deviceList {
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: visible;
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
    }
  }

  .deviceStyle {
    background-color: rgba(255, 255, 255, 0);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: move;
    display: block;
    width: auto;
    overflow: hidden;
    border: 1px solid var(--border-dark);
    border-radius: 2px;
    li {
      list-style: none;
    }
  }
}
