.limitCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  .drLimitCard {
    padding: 1rem;
    margin: 0.5rem;
    width: 49%;
    .limitsWrapper {
      display: flex;
      justify-content: space-between;
      .phaseInput {
        width: 32%;
      }
    }
  }
}

.drToggle {
  position: absolute;
  top: -4rem;
  right: 0.5rem;
}

.drWarningList {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .drWarning {
    margin: 1rem 0;
    border: 1px solid var(--color-warning);
    border-radius: 3px;
    padding: 0.5rem;
    .description:before {
      content: 'Description: ';
    }
    .rootCause:before {
      content: 'Root Cause: ';
    }
    .fix:before {
      content: 'Proposed Fix: ';
    }
    .description,
    .rootCause,
    .fix {
      &:before {
        font-weight: bold;
      }
    }
  }
}
