.deviceStyle {
  background: rgba(255, 255, 255, 0);
  margin-bottom: 1.5rem;
  cursor: move;
  display: block;
  width: auto;
  overflow: hidden;
  border: 1px solid var(--border-dark);
  border-radius: 2px;
  li {
    list-style: none;
  }
}
