.subNav {
  position: absolute;
  top: 4rem;
  width: 100%;
  .appBar {
    background: var(--color-blue-grey);
  }
  .tooltipButton {
    [data-react-toolbox="button"] {
      background-color: var(--color-amber);
    }
  }
}
