.appBar {
  background-color: var(--color-background);
}

.appBarInner {
  display: flex;
  justify-content: space-between;
  width: inherit;
  align-content: center;
  .appBarLeft { display: flex; }
  .logoHolder {
    display: flex;
    > svg {
      max-height: 2.5rem;
      align-self: center;
    }
  }
  .appBarRight {
    display: flex;
    justify-content: flex-end;
    nav {
      a {
        color: var(--color-text);
      }
    }
  }
}

.rtLinkRight {
  display: inline-flex;
  justify-content: flex-end;
  > * {
    margin-left: var(--padding-xs);
  }
  .userPopover {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    &:hover {
      &:before {
        opacity: 0;
        position: relative;
      }
    }
    .popoverInner {
      opacity: 100%;
      padding: 1rem 2rem;
      max-width: 40rem;
      .popoverInnerRow {
        display: flex;
        justify-content: space-between;
        &:nth-child(1) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.userPopover > div { margin-top: 5.25rem; }

.accountSettingsIconButton {
  background-color: var(--color-accent);
}

@media all and (min-width: 1280px) {
  .menuToggle {
    display: none;
  }
}
