.switchHolder {
  position: relative;
  .activitySwitch {
    position: absolute;
    top: -3rem;
    right: 0;
  }
}

.names {
  display: flex;
  justify-content: space-between;
  .name {
    width: 49.5%;
  }
}

.roleDropdownWrapper {
  height: auto;
  .rolesDropdown {
    color: var(--color-text);
  }
  .roles {
    padding: 1rem 0;
    color: var(--color-text);
    display: flex;
    justify-content: flex-start;
    align-content: center;
    .rolesChips {
      margin-left: 2rem;
      align-self: center;
      > * {
        margin-right: 0.5rem;
      }
    }
  }
}

.passwordContainer {
  position: relative;
  .btnResetPassword {
    position: absolute;
    top: 15px;
    right: 0;
  }
}
