--chip-remove-background: var(--color-red);
--chip-remove-background-hover: var(--color-red);

::-webkit-scrollbar {
  display: none;
}

[data-react-toolbox='tabs'] section:focus {
  outline: none;
}

.dragWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h5 { margin: 1rem; }
}

.targetsWrapper {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  .targetStyle {
    height: 25rem;
    width: 20rem;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: normal;
    border-radius: 2px;
    .targetChild {
      list-style: none;
      .pduIcon {
        background-color: var(--color-error);
        border-radius: 50%;
      }
    }
  }
}

.activeTarget {
  background-color: var(--color-success);
}

.canDropStyle {
  background-color: var(--color-accent);
}

.cannotDropStyle {
  background-color: var(--color-error);
}

.targetInactive {
  background-color: #222;
}

.devicesWrapper {
  overflow: hidden;
  width: 40%;
  h5,
  .devicesContent {
    margin: 1rem;
    .devicesList {
      max-height: 400px;
      overflow-y: scroll;
    }
  }
  .deviceStyle {
    background: rgba(255, 255, 255, 0);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: move;
    display: block;
    width: auto;
    overflow: hidden;
    li {
      list-style: none;
    }
  }
}

.sectionHead {
  margin: 1rem 0 5rem 1rem;
}

.groupDroppedDevice {
  border-radius: 2px;
  background: var(--border-dark);
  border: 1px solid var(--border-light);
  color: var(--color-text);
  margin: 1rem 0.5rem;
  width: 40%;
}
