:root {
  @custom-media --phone (max-width: 480px);
  @custom-media --tablet (max-width: 720px);
  @custom-media --sm-screen (max-width: 960px);
  @custom-media --lg-screen (min-width: 961px);
  @custom-media --xl-screen (min-width: 1281px);
}
