.svg {
  transform: rotate(-90deg);
}

.phase1 {
  fill: var(--color-phase1);
}

.phase2 {
  fill: transparent;
  stroke-width: 50;
  transition: stroke-dasharray 0.2s linear;
  stroke: var(--color-phase2);
}

.phase3 {
  fill: transparent;
  stroke-width: 50;
  transition: stroke-dasharray 0.2s linear;
  transform: scale(1, -1) translate(0, -100px);
  stroke: var(--color-phase3);
}
