@import 'media.css';

[data-react-toolbox='tabs'] section:focus {
  outline: none;
}

.dragWrapper {
  display: flex;
  display: -webkit-box;
  flex-direction: row;
  justify-content: space-between;
  h5 { margin: 1rem; }
}

.targetsWrapper {
  margin: 1rem;
}

.dragSourceWrapper {
  overflow: hidden;
  width: 40%;
  h5,
  .dragSourceContent {
    margin: 1rem;
    .dragSourceList {
      max-height: 400px;
      overflow-y: scroll;
    }
  }
  .dragSourceStyle {
    background: rgba(255, 255, 255, 0);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: move;
    display: block;
    width: auto;
    overflow: hidden;
    li {
      list-style: none;
    }
  }
}

@media (--lg-screen) {
  .threeColumn {
    display: flex;
    justify-content: space-between;
    > .column {
      width: 30%;
    }
  }
}
