.userActivityHeader {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-light);
  .userInfo {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    h4,
    h5 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
}

.userActivityBody {
  padding-top: 0.5rem;
  .memberActivityList {
    li {
      list-style: none;
      margin: 0.5rem 0;
    }
  }
}
