@import 'global.css';

.pageChrome {
  background: var(--color-background);
  .panel {
    padding-top: 5rem;
    overflow-y: scroll;
  }
}

.footer {
  font-size: 1.25rem;
  .footerBottom {
    padding: 2.5rem;
  }
}
