.deviceList {
  padding: 2rem 1rem 0;
  .row {
    display: flex;
    justify-content: flex-start;
    height: 3rem;
    > * {
      width: calc(86% / 5);
      text-align: left;
    }
    > *:last-child {
      width: 12%;
    }
  }
}
