.legendCard {
  margin-top: 2rem;
  .legend {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    .legendLabel {
      margin-right: 1rem;
      margin-top: -0.5rem;
      line-height: 2rem;
    }
  }
}
