[data-react-toolbox="drawer"] {
  background: var(--color-background);
  border-right: 1px solid #000 !important;
}

.drawerNav {
  padding: 6rem 0 0;
  a {
    transition: border-left, 0.25s;
    color: var(--color-text);
    justify-content: flex-start;
    margin: 0;
    padding: 1rem 1.5rem;
    border-left: 5px solid transparent;
    text-decoration: none;
    &:hover {
      border-color: var(--color-primary);
    }
  }
}
