@import 'media.css';

@media (--lg-screen) {
  .twoColumn,
  .threeColumn {
    display: flex;
    justify-content: space-between;
  }

  .twoColumn {
    > .wideColumn {
      width: 65%;
    }
    > .narrowColumn {
      width: 34%;
    }
  }

  .threeColumn {
    > .wideColumn {
      width: 50%;
    }
    > .narrowColumn {
      width: 24%;
    }
  }

  .fourColumn {
    > .wideColumn {
      width: 30%;
    }
    > .narrowColumn {
      width: 19%;
    }
  }
}
