.MonitoringEventCard {
  .iconWrapper,
  .eventType,
  .usage {
    display: flex;
    justify-content: space-between;
  }
  .events {
    width: 100%;
    height: inherit;
    padding-right: 1rem;
  }
  .eventType {
    height: 100%;
    align-items: center;
    .eventWrapper {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;
      > *:nth-child(2) {
        margin-left: 0.5rem;
      }
    }
  }
  .usage {
    padding-left: 1rem;
    border-left: 1px solid var(--border-light);
  }

  .circleChartWrapper {
    position: relative;
    .dataWrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 60px;
      font-size: 0.8em;
      display: flex;
      align-items: center;
      justify-content: center;
      .data {
        text-align: center;
      }
    }
    svg {
      height: 48px;
    }
  }
  .colorError {
    background-color: var(--color-error);
  }
  .colorWarning {
    background-color: var(--color-warning);
  }
  .colorSuccess {
    background-color: var(--color-success);
  }
}
