.sensorDataDisplay {
  height: auto;
  color: var(--color-white);
  legend {
    margin-bottom: var(--padding-xs);
  }
  .deviceInformation,
  .sensorDataDisplayRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    .column {
      width: 40%;
    }
  }
  .deviceInformation {
    padding-bottom: var(--padding-sm);
    margin-bottom: var(--padding-sm);
    border-bottom: 1px solid var(--border-light);
    display: flex;
    flex-direction: row;
  }
}
