.phaseRow {
  display: flex;
  align-items: center;
  .phase1Avatar,
  .phase2Avatar,
  .phase3Avatar {
    width: 3rem;
    height: 3rem;
    > * {
      font-size: 1.4rem;
      line-height: 3rem;
    }
  }
  .phase1Avatar {
    background: var(--color-phase1);
  }
  .phase2Avatar {
    background: var(--color-phase2);
  }
  .phase3Avatar {
    background: var(--color-phase3);
  }
  .values {
    display: flex;
    width: 85%;
    padding-left: 2rem;
    justify-content: space-between;
    padding-right: 1rem;
    margin: 1rem 0;
  }
}
