.capacityReport {
  color: var(--color-text);
  .zoneInfo,
  .feedInfo,
  .feedCapacity,
  .zoneCapacity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border-light);
    .cell {
      display: flex;
      justify-content: flex-start;
      .avatar {
        margin-right: 1rem;
      }
      .twoHigh {
        > *:first-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
  .feedCapacity {
    align-items: center;
  }
}
