.loginWrapper {
  width: 400px;
  margin: 20px auto 0;
}

.logo {
  margin: 10px 0;
}

.loginCardActions {
  justify-content: flex-end;
}

.forgotPwLink {
  color: var(--color-text);
  transition: opacity 200ms;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
