.accordion {
  background: transparent;
  width: 100%;
  margin: 20px auto;
  max-width: 30em;
  min-width: 15em;
  overflow: hidden;

  .title {
    color: var(--color-text);
    text-align: left;
    font-weight: 700;
    line-height: 1.2em;
    padding: 1em;
  }
}

.collapsingPanel {
  position: relative;
  width: 100%;
  color: var(--color-text);
  button {
    position: absolute;
    top: -1rem;
    right: 0;
    margin: 0;
    padding: 0;
    height: 1.5em;
    width: 2em;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    pointer-events: none;
  }
  .panelHead {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 1em 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &.withTitle {
      justify-content: space-between;
    }
    .data {
      display: flex;
      justify-content: space-between;
      width: 85%;
    }
  }
}

.open {
  button {
    &:before,
    &:after {
      height: 10px;
    }
  }
  .articlewrap {
    min-height: 150px;
    overflow: visible;
    height: auto;
  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
}

.article {
  padding: 0;
  color: var(--color-text);
}
